/*--------------------------------------------------------------
7. wpo-service-single-section
--------------------------------------------------------------*/

.wpo-service-single-section{

    .blog-sidebar{
        @media(min-width:991px){
           padding-left: 0;
           padding-right: 40px;
        }
    }

    @media(max-width:991px){
      padding-bottom: 60px;
    }
    .wpo-service-single-wrap{
        img{
            width: 100%;
        }

        .wpo-service-single-img{
            img{
                max-height: 475px;
                object-fit: cover;
            }
        }
        .wpo-service-single-content{
            .wpo-service-single-content-des{
                padding: 40px 0;

                @media(max-width:767px){
                    padding: 35px 0;
                }

                h2{
                    font-size: 33px;
                    font-family: $heading-font;
                    margin-bottom: 30px;
                    font-weight: 700;

                    @media(max-width:767px){
                        font-size: 25px;
                        margin-bottom: 16px;
                    }
                }

                p{
                    margin-bottom: 30px;
                }
                .wpo-service-single-sub-img{
                    margin-top: 50px;
                    ul{
                        display: flex;
                        list-style: none;
                    }
    
                    li{
                        padding-left: 10px;
                        padding-right: 10px;
    
                        &:last-child{
                            padding-left:10px;
                            padding-right: 0;
                        }
    
                        &:first-child{
                            padding-left:0px;
                        }
                    }
                }
            }

        }

        .wpo-related-section{
            h2{
                font-size: 30px;
                font-family: $heading-font;
                margin-bottom: 30px;
                font-weight: 700;

                @media(max-width:575px){
                    font-size: 25px;
                }
            }
            .wpo-related-item{
                background: $white;
                padding: 30px 25px;
                margin-bottom: 30px;
                box-shadow: 0px 5px 15px 0px rgba(62, 65, 159, 0.1);

                .wpo-related-icon{
                    width: 65px;
                    height: 65px;
                    box-shadow: 0px 5px 15px 0px rgba(62, 65, 159, 0.1);
                    line-height: 65px;
                    text-align: center;
                    border-radius: 50%;
                    img{
                        width: 36px;
                        line-height: 50px;
                        height: 36px;
                        object-fit: contain;         
                    }

                    .fi{
                        &:before{
                            font-size: 30px;
                            color: $theme-primary-color;
                            line-height: unset;
                        }
                    }
                }

                .wpo-related-text{
                    h3{
                        font-size: 18px;
                        font-weight: 700;
                        margin: 20px 0 10px;

                        a{
                            color: $dark-gray;

                            &:hover{
                                color: $theme-primary-color;
                            }
                        }
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }

        .wpo-benefits-section{
            padding-top: 30px;

            
    
            h2{
                font-size: 30px;
                font-family: $heading-font;
                margin-bottom: 30px;
                font-weight: 700;
            }

            .accordion{
                border-top: 1px solid #e1e1e1;
            }

            .accordion-item{
                border: 0;
                border-bottom: 1px solid #e1e1e1;

                .accordion-body{
                    padding-left: 0;
                    padding-right: 0;
                }

                button{
                    padding: 16px;
                    border:0;
                    border-radius: 0;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 20px;
                    color: $heading-color;
                    text-align: left;
                    font-family: $base-font;
                    font-weight: 600;

                    &::after{
                        background: none;
                        font-family: "themify";
                        content: "\e622";
                        font-size: 15px;
                        transform: rotate(0deg);
                        font-weight: 700;
                    }

                    
                    &.collapsed{
                        color: #373b3e;

                        &::after{
                            content: "\e61a";
                        }
                    }
                    &:focus{
                        box-shadow: none;
                        outline: none;
                        border-color: #e1e1e1;
                        
                    }

                    
                }

                .accordion-collapse{
                    border: 0;
                }
            }

            .accordion-button{
                background: transparent;
            }
        }
    }

    .wpo-project-details-list{
         margin-top: 50px;
    }

    .wpo-minimal-wrap:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(34, 32, 71, 0.5);
        transition: all 0.3s;
      }
      
      .wpo-project-details-text {
        text-align: center;
        padding: 40px;
        background: #0a308c;
      }
      
      .wpo-project-details-text-3 {
        text-align: center;
        padding: 40px;
        background: #092a77;
      }
      
      .wpo-project-details-list .col {
        padding: 0;
      }
      .wpo-project-details-list .row {
        margin: 0 0px;
      }
      
      .wpo-project-details-text h2,
      .wpo-project-details-text-3 h2 {
        font-size: 22px;
        color: #fff;
        margin-bottom: 0;
      }
      
      .wpo-project-details-text span,
      .wpo-project-details-text-3 span {
        font-size: 16px;
        color: #ddd;
        display: block;
        margin-bottom: 10px;
      }
      
      .wpo-p-details-section {
        margin-top: 50px;
        
        h2 {
          font-family: $heading-font;
          font-size: 42px;
          line-height: 1.2;
          letter-spacing: -0.01em;
          color: $heading-color;
          font-weight: 800;
          margin-bottom: 15px;
        }

        p {
          font-family: $base-font;
          font-size: 18px;
          line-height: 1.8;
          color: $body-color;
          margin-bottom: 24px;
        }

        ul {
          list-style: none;
          margin: 10px 0 0;
          padding: 0;
        }

        ul li {
          position: relative;
          padding-left: 28px;
          margin-bottom: 12px;
          font-size: 17px;
          color: $dark-gray;
          font-weight: 600;
        }

        ul li::before {
          position: absolute;
          left: 0;
          top: 2px;
          font-family: "themify";
          content: "\e649"; // arrow-right bullet
          font-size: 14px;
          color: $theme-primary-color;
        }

        .theme-btn {
          display: inline-block;
          padding: 12px 24px;
          font-size: 16px;
          font-weight: 700;
          border-radius: 8px;
        }

        @media(max-width: 767px) {
          h2 { font-size: 30px; }
          p { font-size: 16px; }
        }
      }
      .wpo-p-details-section h5 {
        font-size: 26px;
        margin-bottom: 20px;
        font-weight: 700;
      }
    
}
.wpo-single-sidebar{
    padding-left: 20px;

    @media(max-width:991px){
        padding-left: 0;
        margin-top: 60px;
    }

    .widget{
        padding: 30px 40px;
        margin-bottom: 40px;
        background: #f9f9f9;

        @media(max-width:1200px){
            padding:20px;
        }

        h2{
           font-size: 25px;
           font-family: $heading-font;
           padding-bottom: 20px;
           position: relative;
           font-weight: 700;
           text-align: left;
           display: block;
           margin-bottom: 30px;

           &::before{
               position: absolute;
               left: 0;
               bottom: 0;
               background: $theme-primary-color;
               content: "";
               width: 70px;
               height: 4px;
           }
        }

        ul{
            list-style: none;
        }

    }
    .wpo-service-widget{
        ul{

            li{
                a{
                  display: block;
                  padding: 15px 0;
                  font-size: 16px;
                  color: $dark-gray;
                  font-weight: 600;
                  border-bottom: 1px solid #e1e1e1;
                  padding-left: 30px;
                  position: relative;

                  &:before{
                      position: absolute;
                      left: 0;
                      top: 15px;
                      font-family: "themify";
                      content: "\e649";
                      font-size: 14px;
                      color: $theme-primary-color;
                  }

                  &:hover{
                      color: $theme-primary-color;
                  }

                  
                }
                &:last-child {
                    a{
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
                &:first-child {
                    a{
                        padding-top: 0;
                        
                        &:before{
                            top: 2px;
                        }
                    }
                }
            }
        }
    }

    .wpo-newsletter-widget{
        p{
            font-size: 18px;
            color: $dark-gray;
            text-align: left;
        }
        span{
            font-size: 15px;
            color: $cyan;
            a{
                color: $dark-gray;
                font-weight: 700;
                &:hover{
                    color: $theme-primary-color;
                }
            }
        }
        .form{
            input{
                border: 0;
                display: block;
                width: 100%;
                height: 50px;
                @include rounded-border(0px);
                border: 1px solid #e1e1e1;
                padding: 15px;
                text-align: center;

                &:focus{
                    box-shadow: none;
                }
            }

            button{
                background: $theme-primary-color;
                width: 100%;
                height: 50px;
                @include rounded-border(0px);
                text-align: center;
                color: $white;
                border: none;
                margin: 20px 0;
            }
            
        }
    }

    .wpo-instagram-widget{
        
       ul{
           display: flex;
           flex-wrap: wrap;
           li{
            -ms-flex: 0 0 33.33%;
            -webkit-box-flex: 0;
            flex: 0 0 33.33%;
            max-width: 33.33%;
            margin-bottom: 5px;
            padding: 0px 3px;

            img{
                width: 100%;
            }
           }
       }
    
    }

    .wpo-contact-widget{
        border: 0;
        background: url(/images/page-title.jpg) no-repeat center center;
        position: relative;
        background-size: cover;
        z-index: 1;
        border-radius: 18px;
        overflow: hidden;
        padding: 28px;
        box-shadow: 0 12px 28px rgba(0,0,0,0.12);
        &:before{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(22,57,103,0.92) 0%, rgba(22,57,103,0.88) 100%);
            content: "";
            z-index: -1;
         }

        h2{
            font-size: 32px;
            font-weight: 800;
            text-align: left;
            color: $white;
            margin-bottom: 10px;
        }

        p{
            color: #eaf0ff;
            font-size: 16px;
            margin-bottom: 12px;
        }

        .meta-chips{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 12px;
        }
        .meta-chip{
            background: rgba(255,255,255,0.12);
            border: 1px solid rgba(255,255,255,0.35);
            color: #ffffff;
            border-radius: 999px;
            font-weight: 700;
            padding: 6px 10px;
            font-size: 12px;
            backdrop-filter: blur(4px);
        }

        .actions{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }
        .actions .theme-btn{
            padding: 12px 18px;
            min-width: 160px;
            font-weight: 800;
        }
        .actions .theme-btn-s2.alt{
            background: rgba(255,255,255,0.16);
            color: #ffffff;
            border: 1px solid rgba(255,255,255,0.45);
            font-weight: 800;
        }
    }
}


.wpo-benefits-section{
    .MuiAccordionSummary-root{
        padding: 15px 16px;
    }

    .wpo-benefits-item{
        p{
            margin-bottom: 0;
        }
    }

    &.ab{
        h2{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
}
